* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
    padding: 15px;
}

.container_flex {
    max-width: 1200px;
    display: flex;
}

.principal{
    min-height: 50px;
    background-color: orange;
    border: 3px dashed black;
}

.align-items-center {
    align-items: center;
}

.logo {
    width: 25%;
    border: 2px dashed black;
}

.link {
    display: flex;
    width: 50%;
    border: 2px dashed black;
}

ul {
    width: 50%;
    display: flex;
    list-style-type: none;
}

.login {
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-end; */
    width: 25%;
    border: 2px dashed black;
}

.header_main{
    background-color: blue;
    /* background-image: url(); */
    display: flex;
    padding: 40px;

}

.container_header_main{
    background-color: rgb(232, 95, 198);
    width: 1000px;
    min-height: 400px;
}

.blue{
    background-color: rgb(70, 127, 202);
    width: 60%;
    height: 500px;
}

.pink{
    background-color: rgb(202, 143, 210);
    width: 40%;
    height: 500px;
}

.section{
    padding: 40px 0;
}

.section_2{
    background-color: lightgray;
}

.middle{
    display: flex;
    flex-direction: row-reverse;
}